.d-block {
  display: block;
  background: pink;
  border: 1px solid coral;

  width: 100px;
  height: 100px;

  padding: 10px;
  margin: 10px;
}
.d-inline {
  display: inline;
  background: antiquewhite;
  border: beige;

  /*인라인에는 가로 세로 적용 안 됨.*/
  width: 100px;
  height: 100px;
}
.d-inline-block {
  display: inline-block;
  background: rosybrown;
  border: 1px solid brown;

  width: 100px;
  height: 100px;
}

.parent {
  width: 500px;
  height: 250px;
  background: lightblue;
}

.parent > .min {
  min-width: 400px;
  height: 100px;
  background: pink;
}
.parent > .max {
  max-width: 400px;
  height: 100px;
  background: lemonchiffon;
}
/* 단위 확인. px, viewport, percent, rem과 em */
.box {
  background: lightgray;
  border: 1px solid black;
}
.box-px {
  width: 50px;
  height: 50px;
}
.box-view {
  width: 50vw;
  height: 50vh;
}
.box-per {
  width: 50%;
  height: 50%;
}
.rem {
  font-size: 2rem;
}
.em {
  font-size: 2em;
}
/* 구분선 */
.square {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  display: inline-block;
  cursor: pointer;
}
.border {
  border: 1px solid black;
  /* 아래에 쓴 게 우선순위가 높으므로 파란 점선으로 변한다. */
  border-color: blue;
  border-style: dotted;
  border-width: 5px;

  border-left: 2px dashed coral;
  border-top-style: solid;
}
.rounded {
  border-radius: 10%;

  border-radius: 5px 10px 20px 40px;
  border-radius: 5px 20px 50px;
  border-radius: 5px 50px;
}
.box-sizing {
  border: 15px solid coral;
  padding: 20px;
  background: lemonchiffon;
}
.content-box {
  box-sizing: content-box;
}
.border-box {
  box-sizing: border-box;
}
/* 구분선 */
.original {
}
.d-none {
  /*상자가 원래 다섯 개인데 이렇게 하면 상자 네 개 분량*/
  display: none;
  background: coral;
  cursor: pointer;
}
.invisible {
  background: pink;
  cursor: pointer;
  visibility: hidden;
}
.opacity-0 {
  opacity: 0;
  background: #cc0000;
  cursor: pointer;
}
/* 구분선 */
.square > img[alt="winny the pooh"] {
  width: 200px;
  height: 200px;
}
.over-hidden {
  overflow: hidden;
}
.over-auto {
  overflow: auto;
}
.over-scroll {
  overflow: scroll;
}
.over-visible {
  overflow: visible;
  /*verflow-x: hidden;
  overflow-y: auto;*/
  overflow: hidden auto;
}
