@keyframes running {
  from,
  to {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 90vw;
  }
  50% {
    top: 85vh;
    left: 90vw;
  }
  75% {
    top: 85vh;
    left: 0;
  }
}
/* 브라우저 창 관계없이 원을 유지하려면? vmax 또는 vmin */
/* 브라우저 창 가장자리를 돌게 하려면 %나 vw/vh를 써야 한다 */
/* 원의 크기하고 이동 거리의 단위를 같게 맞춰야  한다. */
/* 전체화면으로 놓으면 작업표시줄 때문에 잘리지만, 브라우저만 보면 제대로 가장자리를 돌고 있다. */
.ball {
  position: fixed;
  transform-origin: right;
  /* width: 100px; */
  width: 10vmax;

  /* height: 100px; */
  height: 10vmax;

  border-radius: 50%;
  background: linear-gradient(30deg, gold, orangered);

  animation-name: running;
  animation-duration: 8s;
  animation-timing-function: linear;
}
